.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #F7F7F7;;

    @import './navigationBar.scss';

    .page-container{
        display: flex;
        overflow: visible;
        max-width: 1200px;
        width: 90%;
        margin: auto;
        justify-content: center;
        // align-items: center;
        gap: 20px;

        .profile-container {
            display: flex;
            flex-direction: column;
            //flex: 0 1;
            width: 30%;
            height: 100%;
            background-color: #FFFFFF;
            border: 2px solid #F7F7F7;

            .profile-card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 20px;
                gap: 10px;

                .profile-img{
                    display: flex;
                    img{
                        border-radius: 50%;
                        border: 5px solid #F7F7F7;
                    }

                }
                .profile-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    
                    .title{

                    }

                    .email{

                    }
                }
            }
        }

        .feed-container{
            display: flex;
            width: 70%;
            height: 100%;
            justify-content: center;
            align-items: center;
            .feed-card{
                display: flex;
                flex-direction: column;
                width: 80%;
                height: 100%;
                .create-comment{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    gap: 10px;
                    margin-bottom: 20px;
                    .content{
                        display: flex;
                        width: 100%;
                        height: 100%;
                        min-height: 100px;

                        textarea{
                            width: 100%;
                            outline: none;
                            border: 2px solid #F7F7F7;
                        }
                    }
                    .create-btn{
                        button{
                            text-transform: uppercase;
                            background-color: #6200ee;
                            cursor: pointer;
                            color: #fff;
                            border-radius: 4px;
                            padding: 0 16px;
                            height: 40px;
                            outline: none!important;
                            border: 0;
                            font-family: Poppins;
                            font-weight: 500;
                            font-size: 16px;
                        }
                    }
                }

                .comment-container{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 100%;
                    gap: 10px;

                    .customer-img{
                        img{
                            border: 1px solid #D5D8DC;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            overflow: hidden;
                            object-fit: cover;
                        }
                    }

                    .comment-card{
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        .comment-box{
                            display: flex;
                            flex-direction: column;
                            border: 1px solid #D5D8DC;
                            padding: 10px;

                            .name-title{
                                color: #000;
                                font-weight: 500;
                            }
                            .comment-content{
                                p{
                                    color: #566573;
                                }
                            }
                        }
                        .like-reply-card{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin: 10px 0px 10px 0px;
                            gap: 50px;

                            .likes{
                                display: flex;
                                gap: 10px;

                                img{
                                    height: 20px;
                                    width: 20px;
                                }
                                button {
                                    outline: none;
                                    border: none;
                                    background-color: #F7F7F7;
                                    color: #566573;
                                    cursor: pointer;
                                }
                                button:hover {
                                    color: #2C3E50;
                                    font-weight: 700;
                                }
                            }

                            .reply{
                                display: flex;
                                gap: 10px;

                                img{
                                    height: 20px;
                                    width: 20px;
                                }
                                button {
                                    outline: none;
                                    border: none;
                                    background-color: #F7F7F7;
                                    color: #566573;
                                    cursor: pointer;
                                }
                                button:hover {
                                    color: #2C3E50;
                                    font-weight: 700;
                                }
                            }
                        }
                    }

                }
            }
        }
    }

    @import './footer.scss';
}