.nav-container{
    background-color: #E9F1FF;
    width: 100%;
    margin-bottom: 20px;

    @media only screen 
    and (min-device-width: 280px) 
    and (max-device-width: 653px)
    and (-webkit-min-device-pixel-ratio: 2) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: auto;
        gap: 10px;
        margin-bottom: 20px;
    }

    .tab-holder{
        display: flex;
        // justify-content: space-around;
        position: relative;
        width: 90%;
        font-size: 16px;
        margin: 10px;

        .flexiple-tab{
            position: relative;
            left: 16%;
            top: 10px;
}
            img{
                height: 40px;
            }
                    @media only screen 
            and (min-device-width: 280px) 
            and (max-device-width: 653px)
            and (-webkit-min-device-pixel-ratio: 2) {
                img{
                    height: 30px;
                }
            }
        .nav-tabs{
            display: flex;
            // justify-content: center;
            align-items: center;
            gap: 20px;
            position: absolute;
            top: 10px;
            right: 0px;
    
            .home-tab{
                font-weight: 700;
                cursor: pointer;
            }
            .home-tab:hover {
                color: #6200EE;
            }
    
            .logout-tab{
                cursor: pointer;
                font-weight: 700;
            }
            .logout-tab:hover {
                color: #6200EE;
            }
        }
    }

    @media only screen 
    and (min-device-width: 280px) 
    and (max-device-width: 653px)
    and (-webkit-min-device-pixel-ratio: 2) {
        font-size: 12px;
    }


    @media only screen 
    and (min-device-width: 280px) 
    and (max-device-width: 653px)
    and (-webkit-min-device-pixel-ratio: 2) {
        .tab-holder{

            .flexiple-tab{
                position: relative;
                left: 0px;
                top: 0px;
            }

            .nav-tabs{
                position: absolute;
                top: 5px;
                right: 0px;
            }
        }
    }
}